header{
    display: flex;
    justify-content: space-between;
    margin: 0.2rem 5%;
    width: 90%;
    z-index: $z-index-header;

	.header-logo{
        display: flex;
        width: max-content;

        .header-logo-image svg{
            height: 3rem;
            width: 3rem;
    
            path{
                fill:$secondary-color;
            }
        }

        .header-logo-title{
            margin-left: 1rem;

            h1{
                text-align: left;
            }
        }
    }

	.header-menu{
		background-color: hsl(0, 0%, 100%);
		height: 100vh;
		left: 0;
		position: fixed;
		top: -100vh;
		transition: top 0.5s;
		width: 100%;
		z-index: $z-index-header-menu;

		&.active{
			top: 0;
		}

		ul{
			margin: 70% auto;
			height: max-content;
			width: 35%;
		}

		ul li{
			margin-bottom: 1rem;
		}

		ul li a{
			color: $primary-color;
			font-size: 2rem;
		}
	}
	
	.header-menu-hamburger{
		margin-left: auto;
		width: 30%;
	}
	
	#collapse-button {
		border: 0;
		background: transparent;
		cursor: pointer;
		margin-top: 0;
		width: 100%;

		&:focus {
			outline:0;
		}

		&:first-child {
			margin: 0;
		}

		&.active span:first-of-type {
			background: $primary-color;
			transform: rotate(45deg) translate(1.1em, 1.1em);
		}

		&.active span:nth-of-type(2) {
			opacity: 0;
		}

		&.active span:last-of-type {
			background: $primary-color;
			transform: rotate(-45deg) translate(1px, -1px);
		}

		span {
			background: hsl(0, 0%, 100%);
			border-radius: 1rem;
			display: block;
			height: 5px;
			margin: 0.5rem auto;
			opacity: 1;
			transition: all 0.6s cubic-bezier(0.810, -0.330, 0.345, 1.375);
			transform: none;
			width: 100%;
		}
	}


}
