header {
    height: 5vh;
    width: 100%;
    padding: 2rem;
    background-color: hsl(0, 0%, 96%);

    .navbar-header{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        
        .search{
            margin-bottom: 2rem;
            padding-left: 25rem;
              
            input{
                border-radius: 1.5rem;
                border-style: solid;
                border-width: 0.5px;
                border-color: hsl(0, 0%, 80%);
                padding: 0.5rem;
            }
        }
        
        .user{
            margin-right: 5%;
            margin-bottom: 2rem;
            display: flex;

            svg{
                padding: 1.5rem;
                margin-right: 3rem;
            }

            .user-data{
             
                h5{
                    height: 3vh;
                    margin-right: 4rem;
                }
            }

            .icon-default{
                justify-content: end;
            }
        }
    }
}
       
     





//     .header-logo{


//         /* Con estas propiedades conseguimos que la caja que contiene el logo alinee sus elementos y estén centrados */

//         .header-logo-image{
//             align-items: center;
//             margin-right: 2em;
//             width: 8%;
    
//             /* Otorgamos una alineación, unos márgenes y un tamaño suficiente a la imagen del logo para que se adapte al tamaño y se ubique en el lugar que deseamos, en este caso, a la izquierda */
    
//         }

//         h1{
//             color: aliceblue;
//         }

//     }
    
//     .header-menu{
//         margin-left: auto;
//         width: 50%;

//         ul{
//             align-items: center;
//             height: 100%;
//             display: flex;
//             justify-content: space-between;
    
//             /* Con estas propiedades, conseguimos que los elementos del menú aparezcan alineados, en el centro de sus respectivos contenedores, con el 100% de su altura, condicionada por la caja padre, y con espacios iguales de separación entre ellas*/
//         }
        
//         li{
//             color: hsl(208, 100%, 97%);
//             font-size: 1.5rem;
    
//             /* Las propiedades de estilo de texto concretas, que determinan color y/o tamaño, se separan de las propiedades que damos a sus respectivas cajas*/
    
//         }
//         /* Mediante el margin-left: auto, el margen izquierdo recibe una parte del espacio horizontal no utilizado. Como el valor de margin-left es auto, el espacio calculado se distribuye uniformemente.  */
//     }

// }
