.sidebar {
    position:fixed;
    overflow: auto;
    padding: 3rem;
    width: 260px;
    background-color: hsl(224, 25%, 20%);
    height: 100vh;

    .sidebar-header{
        display: flex;
        padding: 1rem;
        margin-bottom: 1.5rem;
  
        .sidebar-header-logo{
          
            .sidebar-header-logo-image{
                align-items: center;
                width: 30%;
                margin-bottom: 1rem;
            }
        }
    }

    .sidebar-categories{
        height: 50rem;

        .sidebar-element{
            margin-bottom: 1.5rem;
            
            a{
                display:flex;
                justify-content: space-between;
                align-items: center;
            }

            svg{
                fill:hsla(208, 100%, 97%, 0.589);
                transition: transform 0.3s;
                width: 10%;
            }

            svg.active{
                transform: rotate(90deg);
            }

            .sidebar-dropdown{
                overflow: hidden;
                height: 0;
                margin-top: 1.5rem;

                li{
                    margin-bottom: 1rem;
                }
            }

            .sidebar-dropdown.active{
                height: max-content;
                transform: translateX(1.5rem);
            }
        } 
    }
}