//z-index
$z-index-slider-image: 1000;
$z-index-slider-title: 1001;
$z-index-slider-button: 1001;
$z-index-banner-text-image: 1000;
$z-index-banner-text-description: 1001;

//typography
$font-stack: "Raleway", sans-serif;
$font-stack-condensed: "Raleway", sans-serif;

//colors
$background: linear-gradient(-225deg, hsl(42, 100%, 81%) 0%, hsl(24, 74%, 74%) 48%, hsl(27, 68%, 71%) 100%);
$header: linear-gradient(-225deg, hsl(19, 100%, 80%) 0%, hsl(17, 100%, 81%) 48%, hsl(22, 100%, 72%) 100%);

//style
