
/* A fin de facilitar la búsqueda, se incluyen los títulos de página en este apartado, aunque podrían recogerse en el apartado de elementos básicos estructurales */

.page-title{
    width: max-content;
    padding: 0 10% 2rem;
    margin: 0 auto;
    border-bottom: 0.3rem solid white;

    .page-title h2{
        text-align: center;
        font-size: 4rem;
        color: hsl(0, 0%, 100%);  
    }
    
}



/* Si nos fijamos, veremos que la caja contiene el borde inferior que acompaña al texto, lo que permite ampliar su anchura, centrar y establecer márgenes con respecto a él */
